SOAPClient/src/META-INF/wsdl/localhost_8080/SOAPProject/MyService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lab8/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lab8/" name="MyService">
<types>
<xsd:schema>
<xsd:import namespace="http://lab8/" schemaLocation="http://localhost:8080/SOAPProject/MyService?xsd=1"/>
</xsd:schema>
</types>
<message name="generateLogSequence">
<part name="parameters" element="tns:generateLogSequence"/>
</message>
<message name="generateLogSequenceResponse">
<part name="parameters" element="tns:generateLogSequenceResponse"/>
</message>
<message name="addNumbers">
<part name="parameters" element="tns:addNumbers"/>
</message>
<message name="addNumbersResponse">
<part name="parameters" element="tns:addNumbersResponse"/>
</message>
<message name="disturbSequence">
<part name="parameters" element="tns:disturbSequence"/>
</message>
<message name="disturbSequenceResponse">
<part name="parameters" element="tns:disturbSequenceResponse"/>
</message>
<portType name="MyService">
<operation name="generateLogSequence">
<input wsam:Action="http://lab8/MyService/generateLogSequenceRequest" message="tns:generateLogSequence"/>
<output wsam:Action="http://lab8/MyService/generateLogSequenceResponse" message="tns:generateLogSequenceResponse"/>
</operation>
<operation name="addNumbers">
<input wsam:Action="http://lab8/MyService/addNumbersRequest" message="tns:addNumbers"/>
<output wsam:Action="http://lab8/MyService/addNumbersResponse" message="tns:addNumbersResponse"/>
</operation>
<operation name="disturbSequence">
<input wsam:Action="http://lab8/MyService/disturbSequenceRequest" message="tns:disturbSequence"/>
<output wsam:Action="http://lab8/MyService/disturbSequenceResponse" message="tns:disturbSequenceResponse"/>
</operation>
</portType>
<binding name="MyServicePortBinding" type="tns:MyService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="generateLogSequence">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNumbers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="disturbSequence">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MyService">
<port name="MyServicePort" binding="tns:MyServicePortBinding">
<soap:address location="http://localhost:8080/SOAPProject/MyService"/>
</port>
</service>
</definitions>